<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Index</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<!--[if lt IE 8]>
<script src="js/CreateHTML5Elements.js"></script>
<![endif]-->
<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="ie/ie-fix.css" />
<![endif]-->
<!--[if IE]>
	<script src="js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
	<!--Header section-->
    	<header class="dashboard">
         <div class="headr_inr_dash">
            <img src="images/qlc-logo.png" alt="" class="inner-logo">
             <h1>Noamay.com</h1>
                <div class="inner-topright">
                <p class="datesec"><span>10:00 am</span>  |   20th March, 2014 </p>
                <p class="signoutsec"><span class="signoutlink"><a href="#">Sign Out</a></span><span class="helplink"><a href="#">Help</a></span></p>
                </div>
                
            </div>
        </header>
        <!--Header section end-->


	<!--body section-->
        <div class="dashboard-fullwid">
        <div class="dash-left-pan">
<ul>
<li class="admini"><a href="#"><span>Admin</span></a></li>
<li class="enroli"><a href="#"><span>Enroll</span></a></li>
<li class="eventi"><a href="#"><span>Events</span></a>
	<ul>
    	<span class="sltex">Create New Workspace</span>
        <p>Nulla sit amet leo semper, ased commodo arcu quis, ornare enim. Vivamus pretium sed dolor acen condimentum.</p>
        <p class="exp">Explore</p>
        <hr>
		<li><a href="#">Demo Project 1</a></li>
        <li><a href="#">Demo Project 2</a></li>
        <li><a href="#">Demo Project 3</a>
        	<ul>
                <li><a href="#">Nunc non libero purus</a></li>
                <li><a href="#">Quisque fringilla faucibus</a></li>
                <li><a href="#">Amet fermentum tellus</a></li>
			</ul> 
        </li>
        <li><a href="#">Demo Project 4</a></li>
        <li><a href="#">Demo Project 5</a></li>
        <li><a href="#">Demo Project 6</a></li>
        <li><a href="#">Demo Project 7</a></li>
    </ul>

</li>
<li class="homei"><a href="#"><span>Home</span></a></li>
<li class="pointi"><a href="#"><span>Point Sale</span></a></li>
<li class="transformi"><a href="#"><span>Transform</span></a></li>
</ul>

        </div>
        <div class="dash-middle-pan">
        	<div class="avtt"><img src="images/avater.png" width="70" height="69" alt="">Hello!  <span class="nam">UserName</span><br>
Director, <br>
Mark Technology</div><br class="clear">

        <div class="contbox">
        <h1>Getting Started<span class="qust"><img src="images/qust.png" width="23" height="23" alt=""> <div class="ttip">Nulla sit amet leo semper, ased commodo arcu quis, ornare enim.</div></span></h1>
        <h2>Welcome to Noamay.com</h2>
        <p>Nulla sit amet leo semper, ased commodo arcu quis, ornare enim. Vivamus pretium sed dolor acen condimentum. Nam vitae purus ipsum. Suspendisse egestas lorem fermentum, suscipit purus.</p>
        <ul>
        	<li>Suspendisse rhoncus placerat sem at hendrerit hasellus sed ultrices nibh. </li>
            <li>Morbi dolor felis, condimentum convallis odio ut, posuere vulputate tellus mattis diam justo.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit sapien vitae suscipit.</li>
        </ul>
        </div>
         <div class="contbox">
        <h1>Your Recent Activity<span class="qust"><img src="images/qust.png" width="23" height="23" alt=""> <div class="ttip">Nulla sit amet leo semper, ased commodo arcu quis, ornare enim.</div></span></h1>
        <h2>Recent Activities</h2>
        <p>Nulla sit amet leo semper, ased commodo arcu quis, ornare enim. . Morbi non ligula odio. Nam vitae purus ipsum. Suspendisse egestas lorem fermentum, suscipit purus.</p>
        <ul>
        	<li> Suspendisse rhoncus placerat sem at hendrerit hasellus sed ultrices nibh. </li>
            <li>Morbi dolor felis, condimentum convallis odio ut, posuere vulputate tellus mattis diam justo.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit sapien vitae suscipit.</li>
        </ul>
        </div>
        <div class="contbox">
        <h1>Your Add-On Services<span class="qust"><img src="images/qust.png" width="23" height="23" alt=""> <div class="ttip">Nulla sit amet leo semper, ased commodo arcu quis, ornare enim.</div></span></h1>
        <p>Mivamus pretium sed dolor acen condimentum. Suspendisse ultricies orcimassa. Morbi non ligula odio. Nam vitae purus ipsum. Suspendisse egestas.</p>
        <ul class="add-serv">
        	<li><img src="images/catic.png" width="26" height="24" alt="">Activate</li>
            <li><img src="images/mugicon.png" width="26" height="24" alt="">Activate</li>
        </ul>
        <ul class="add-serv fright">
        	<li><img src="images/catic.png" width="26" height="24" alt="">Activate</li>
            <li><img src="images/mugicon.png" width="26" height="24" alt="">Activate</li>
        </ul>
        </div>
        
        
        
        
        </div>
        
        
        <div class="dash-right-pan">
        <h2>Account Setting</h2>
<ul>
<li><a href="#">Change your password</a></li>
<li><a href="#">Show your SSH key</a></li>
<li><a href="#">pgrade to Premium</a></li>
<li><a href="#">Delete your Account</a></li>
</ul>
        </div>
        <br class="clear"/>

        </div>
	<!--body section end-->


	<!--footer section-->
        <footer class="dashboard">
        	<div class="foot_inr_dash">
            	<p>All content and design is copyright ©2010-2014 Noamay.com. All rights reserved. </p>
                <ul>
                	<li><img src="images/soc-icn1.png"></li>
                	<li><img src="images/soc-icn2.png"></li>
                	<li><img src="images/soc-icn3.png"></li>
                </ul>
            </div>
        </footer>
	<!--footer section end-->
</body>
</html>